.container {

}

body {
    width: 1440px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #FFFFFF;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    font-style: normal;
    text-decoration: none;
}

img {
    display: block;
}

header .container {
    display: flex;
    gap: 332px;
}

.container {
    max-width: 1128px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 156px;
    margin-right:  156px;
    padding: 24px 0;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
}

.header-navigation {
    display: flex;
    gap:76px
}

.header-logo span {
    color: #2E2F42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list-item-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
    color:#404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap:40px;
}

.contacts-list-item-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-list-item-link:hover,
.contacts-list-item-link:focus {
    color: #404bbf;
}

.solutions {
    background-color: #2E2F42;
}

.solutions .container {
    padding-top: 188px;
}

.solutions-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.solutions-order-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-top: 48px;
    cursor: pointer;
}

.solutions-order-btn:hover,
.solutions-order-btn:focus {
    background-color: #404bbf;
}

.advantages-list-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.advantages-list-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-card {
    background-color: #FFFFFF;
}

.team-card-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-list-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

footer {
    background-color: #2E2F42;
}

.footer-logo-secondary-color {
    color:#F4F4FD
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}